button.tab-btn {
    padding: 15px 25px;
    border: 1px solid #eee;
    margin: 5px 15px;
    background: #82ad00;
    color: #fff;
    border-radius: 25px;
  }
  
  .lang-new__content {
    justify-content: flex-start;
  }