<div class="cart-btns" v-if="ButtonTabInfo">
    <button class="cart-btns__item btn">Сохранять</button>
  </div>
  <div class="cart-btns" v-else>
    <div class="cart-btns__item product-add-new btn circle" @click="ButtonNewGallery = true">
      <img src="@img/icons/add-icon.svg" alt="">
    </div>
    <button class="cart-btns__item btn" :disabled="selectedGalleryIds.length < 1" @click="DeleteGallery">delete</button>
  </div>

  <LeftAside :is-active="ButtonLeftAside" @CloseLeftAside="CloseLeftAside" >
    <str-setting v-model:videoGallery="videoGallery" @UpdateGallery="UpdateGallery" />
  </LeftAside>

  <str-modal  :is-active="ButtonNewGallery" :width="'100%'" HeaderText="Выберите изображению"
    @closeModal="closeNewGallery">

    <str-new-gallery 
    :is-active="ButtonNewGallery" 
    v-model:NewGallery="NewGallery" 
    :galleriesCount="videoGallery.galleries ? videoGallery.galleries.length + 1 : 0" 
    @CreateGallery="CreateGallery" />

  </str-modal>


  <div class="container-content">
    <div class="container-content__top container-content__top_tabs">

      <div class="container-content__top-row">
        <div class="settings-btn productpage-params__btn" @click="ButtonLeftAside = true">
          <img src="@img/icons/settings.svg" alt="">
        </div>
        <div class="container-content__top-title">
          <span>{{ videoGallery.title }}</span>
        </div>
      </div>
      <div class="container-content__top-row">
        <div class="container-content__tabs">
          <button @click="ButtonTabInfo = true" :class="{ active: ButtonTabInfo === true }"
            class="container-content__tabs-item ">
            Детали галереи
          </button>
          <button @click="ButtonTabInfo = false" :class="{ active: ButtonTabInfo === false }"
            class="container-content__tabs-item">Фото
          </button>
        </div>
      </div>
    </div>
    <div class="container-content__body container-content__body_info">

      <div class="container-content__body-info article product-params gallery-img" v-if="ButtonTabInfo">
        <str-meta-data />
      </div>

      <div class="container-content__body" v-else>
        <str-table
                v-model:videoGallery="videoGallery"
                v-model:selected="selectedGalleryIds"
                @UpdateGalleryItem="UpdateGalleryItem"
                @UpdateVideo="UpdateVideo"
        />
      </div>

    </div>
  </div>