<router-view v-if="this.$route.name === 'Product'"></router-view>
<div v-else style="width: 100%">
  <div class="cart-btns">
    <button class="cart-btns__item packages-add-new btn circle">
      <img src="@img/icons/add-icon.svg" alt="" />
    </button>
    <div class="cart-btns__item btn">ייצוא לאקסל</div>
    <div class="cart-btns__item btn">מחיקה</div>
  </div>
  <div class="container-content">
    <div class="container-content__top container-content__top_tabs">
      <div class="container-content__top-row">
        <LanguageSelect  />

        <div class="container-content__top-title">
          הגדרות מוצרים
          <span> מוצרים למכירה </span>
        </div>
      </div>
      <div class="container-content__top-row">
        <div class="switcher">
          <label>
            <input type="checkbox" checked />
            <span class="fake">
              <span>מופעל</span>
              <span>מושבת</span>
            </span>
          </label>
          <span> ניתן לרכוש באתר </span>
        </div>
        <div class="container-content__tabs">
          <a href="#" class="container-content__tabs-item active">
            מוצרים למכירה
          </a>
          <a href="#" class="container-content__tabs-item"> מוצרים להשכרה </a>
        </div>
      </div>
    </div>
    <div class="container-content__submenu">
      <div class="search">
        <button>חפש</button>
        <input type="text" placeholder="חיפוש לפי שם / סכום / מסי הזמה " />
      </div>
      <div class="container-content__submenu-select">
        <label>
          <select @change="ChangeCategory">
            <option value="0">כל המוצרים</option>
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
            >
              {{ category.translate.name }}
            </option>
          </select>
        </label>
        <span> מוצרים לתצוגה: </span>
      </div>
    </div>
    <div class="container-content__body">
      <table class="orders productspage">
        <thead>
          <tr>
            <td>
              <label>
                <input type="checkbox" />
                <span class="fake"></span>
              </label>
            </td>
            <td>תמונה של המוצר</td>
            <td>שם המוצר</td>
            <td>קטגוריה ואפשרות</td>
            <td>פעולות</td>
          </tr>
        </thead>
        <tbody>
          <tr class="order-row" v-for="product in products" :key="product.id">
            <td>
              <label>
                <input type="checkbox" />
                <span class="fake"></span>
              </label>
            </td>
            <td>
              <img :src="product.photos[0].image" alt="" v-if="product.photos[0]" />
            </td>
           <td>{{ product.translate.name }}</td>
            <td>{{ categoryName(product.category_id) }}</td>
            <td>
              <div>
                <router-link
                  :to="{ name: 'Product', params: { id: product.id  } }"
                >
                  <span class="packages-copy-btn">
                    <img src="@img/icons/copy.svg" alt="" />שכפול
                  </span>
                  edit <img src="@img/icons/more-arrow.svg" alt="" />
                </router-link>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
