
<router-view v-if="this.$route.name === 'BackendArticle'"  ></router-view>

<div v-else style="width: 100%;">

    <left-aside :is-active="ButtonLeftAside" @CloseLeftAside="ButtonLeftAside = false">
        <MyBaseSetting page-name="Articles" v-model:ButtonLeftAside="ButtonLeftAside" />
    </left-aside>
    <div class="cart-btns">
        <div class="cart-btns__item branches-new-btn btn circle" @click="ButtonNewPageModal = true">
            <img src="@img/icons/add-icon.svg" alt="">
        </div>
    </div>

    <add-page
            :ButtonNewPageModal="ButtonNewPageModal"
            :NewPage="NewPage"
            :SortLength="articles.length"
            @closeModal="closeNewPageModal"
            @saveNewPage="saveNewPage"
    />

    <div class="container-content">
        <div class="container-content__top">
            <div class="settings-btn products-seo-btn"
                 @click="ButtonLeftAside = true">
                <base-icon icon="setting" width="15" height="16"/>
            </div>
            <LanguageSelect/>
            <div class="search search_warranty">
                <button>חפש</button>
                <input type="text" placeholder="חיפוש לפי שם  " v-model="searchName">
            </div>
                <div class="container-content__top-title">
                    עמודי מדיה
                    <span>
                        Articles
                    </span>
                </div>


        </div>
        <div class="container-content__body">
            <table class="orders cupons shipping-cities articles">
                <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Sort
                    </td>
                    <td>
                        In Home
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
                </thead>
                <tbody>

                <tr class="order-row opened" v-for="page in articles" :key="page.id">
                    <td>
                        {{ page.translate.name }}
                    </td>
                    <td>
                        <label>
                            <select v-model="page.sorting" :value="page.sorting"
                                    @change="UpdatePage({id: page.id, sorting: $event.target.value} )">
                                <option v-for="item in (articles.length > 5 ? articles.length : 5)" :value="item"
                                        :selected="item === page.sorting">{{ item }}
                                </option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <label class="check">
                            <input type="checkbox"
                                   @change="UpdatePage({ id: page.id, in_home: !page.in_home })"
                                   :checked="page.in_home"
                            >
                            <span class="fake"></span>
                        </label>
                    </td>
                    <td>
                        <div>
                                <span class="articles-delete-btn" @click="DeletePage(page.id)">
                                    <img src="@img/icons/delete-ico.svg" alt="">
                                </span>
                            <router-link
                                    :to="{ name: 'BackendArticle', params: { id: Number(page.id)  } }"
                                    class="branches-edit-btn"  >
                                <img src="@img/icons/edit-ico.svg" alt="">עריכה
                            </router-link>

<!--                            <span @click="UpdatePage({ id: page.id, status: !page.status })">-->
<!--                                    <img :src="page.status ? showIcon : unshow">להציג-->
<!--                                </span>-->
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>