
  
 
<left-aside :is-active="ButtonLeftAside" @CloseLeftAside="CloseLeftAside">

    <MyBaseSetting page-name="About" v-model:ButtonLeftAside="ButtonLeftAside" />
</left-aside>

  <div class="cart-btns">
    <div class="cart-btns__item btn" @click="UpdatePage">
      שמירה
    </div>
  </div>

  <div class="container-content">
    <div class="container-content__top">
      <div class="settings-btn products-seo-btn" @click="ButtonLeftAside = true">
        <img src="@img/icons/settings.svg" alt="">
      </div>
        <LanguageSelect />
      <div class="container-content__top-title">
        עמודי תוכן<span>
          אודות החברה
        </span>
      </div>
    </div>
    <div class="container-content__body container-content__body_info">


      <div class="container-content__body-info about">
        <div class="info-item">
          <span>כותרת {{ language.name }}: </span>
          <input type="text" placeholder="אנא הזינו כותרת" v-model="page.translate.title">
        </div>
        <div class="info-texteditor">

          <tiny-editor  v-model="page.translate.content"> </tiny-editor>
          
        </div>
        <div class="info-item">
          <span>אנא הזינו כותרת</span>
          <input type="text" placeholder="אנא הזינו לינק" v-model="page.translate.btn_price_list" >
        </div>
        <div class="info-item">
          <span>לינק לכפתור “לכל המוצרים” {{ language.name }} </span>
          <input type="text" placeholder="אנא הזינו לינק" v-model="page.translate.btn_products">
        </div>
      </div>
    </div>
  </div>

