<router-view v-if="this.$route.name === 'VideoGallery'" ></router-view>

<div v-else style="width: 100%;">
    <div class="cart-btns">
        <div class="cart-btns__item branches-new-btn btn circle" @click="ButtonNewPageModal = true">
            <img :src="require('@img/icons/add-icon.svg').default" alt="">
        </div>
    </div>

  <str-modal :is-active="ButtonNewPageModal"  HeaderText="Добовить новый страницу" @closeModal="closeNewPageModal">

      <div class="container-content__body-info">
          <div class="table-img__info-item">
              <span>Page Name:</span>
              <input type="text" placeholder="סוכה כשרה" v-model="NewVideoGallery.title">
          </div>
          <div class="table-img__info-item">
                <span>Sorting:</span>
              <label>
                  <select v-model="NewVideoGallery.sorting">
                      <option :value="sort" v-for="sort in (pageFilter.length + 1)">{{ sort}}</option>
                  </select>
              </label>
          </div>

          <div class="table-img__info-item">
              <span>Slug: </span>
              <input type="text" placeholder="" v-model="NewVideoGallery.slug">
          </div>
          <div class="table-img__info-item">
				<span>Meta Title:</span>
              <input type="text" placeholder="Hebrew" v-model="NewVideoGallery.meta_title">
          </div>
            <button class="cart-btns__item branches-new-btn btn circle" @click="saveNewGallery"> Save </button>
      </div>

  </str-modal>

    <div class="container-content">
        <div class="container-content__top">
            <div class="container-content__top-row">

                <div class="select-top">
                    <select v-model="languageId">
                        <option :value="lang.id" v-for="lang in actualLanguages" :key="lang.id">{{ lang.code }}
                        </option>
                    </select>
                </div>
                <div class="container-content__top-title">
                    עמודי מדיה
                    <span>
                        Фотогалереи 2
                    </span>
                </div>
            </div>

        </div>
        <div class="container-content__body">
            <table class="orders cupons shipping-cities branches gallery-img">
                <thead>
                    <tr>
                        <td>
                            Название
                        </td>
                        <td>
                            сортировка
                        </td>
                        <td>
                            Действия
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="order-row" v-for="gallery in pageFilter" :key="gallery.id">
                        <td>
                            {{ gallery.title }}
                        </td>
                        <td>
                            <label>
                                <select v-model="gallery.sorting" :value="gallery.sorting"
                                    @change="changeSorting($event.target.value, gallery.id)">
                                    <option v-for="item in pageFilter.length" :value="item"
                                        :selected="item === gallery.sorting">{{ item }}
                                    </option>
                                </select>
                            </label>
                        </td>
                        <td>
                            <div>
                                <span class="articles-delete-btn" @click="DeleteVideoGallery(gallery.id)">
                                    <img :src="require('@img/icons/delete-ico.svg').default" alt="">
                                </span>
                                <router-link
                                    :to="{ name: 'VideoGallery', params: { id: gallery.id  } }"
                                    :class="'branches-edit-btn'"  >

                                    <img :src="require('@img/icons/edit-ico.svg').default" alt="">עריכה
                                </router-link>

                                <span><img :src="gallery.status === 1 ? showIcon : unshow">להציג</span>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>